footer.footer
    .section_in
        .footer_main
            .footer_top
                .footer_topleft
                    .footer_topleft_dealer 
                        .footer_topleft_dealer_title 
                            h4 АВТОРУСЬ TANK Лосиный Остров
                        .footer_topleft_dealer_subtitle 
                            p Официальный дилер
                    .footer_topleft_address 
                        .footer_topleft_address_image
                            img(src="i/icons/icon_pos.svg", alt="")
                        .footer_topleft_address_text
                            p Ярославское шоссе, владение 2&nbsp;В, строение&nbsp;3 (МКАД, 95&nbsp;км)
                    .footer_topleft_org 
                        .footer_topleft_org_subtitle 
                            p Официальный дилер
                        .footer_topleft_org_title 
                            h4 ООО А&nbsp;АВТОРУСЬ МЫТИЩИ&nbsp;| ОГРН&nbsp;&mdash; 1147746695161, ИНН&nbsp;&mdash; 7728881903
                .footer_topright 
                    .footer_topright_phone
                        .footer_topright_number
                            .footer_toprigt_number_number
                                h4 +7 (999) 999-99-99
                            .footer_topright_online
                                .footer_topright_online_image
                                    img(src="i/icons/online.svg", alt="")
                                .footer_topright_online_text
                                    p Мы на связи
                        .footer_topright__button.trigger-sale
                            .footer_topright__button_image
                                img(src="i/icons/phonecall.svg", alt="")
                            .footer_topright__button_text
                                p Заказать звонок
                    .footer_topright_actions
                        ul.footer_topright_actions__list 
                            li.footer_topright_actions__item
                                .footer_topright_actions__item_image 
                                    img(src="i/icons/icon_settings.svg", alt="")
                                .footer_topright_actions__item_txt Записаться на&nbsp;сервис
                            li.footer_topright_actions__item
                                .footer_topright_actions__item_image 
                                    img(src="i/icons/icon_testdrive.svg", alt="")
                                .footer_topright_actions__item_txt Тест-драйв
            .footer_bottom
                .footer_bottomleft 
                    small © 2024, АВТОРУСЬ ТАНК
                .footer_bottomright
                    .footer_bottomright_jusinfo
                        a(href="") Правовая информация
                    .footer_bottomright_eventinfo 
                        a(href="") Условия акции