header.header
	.section_in
		.header_main
			.header_left
				img(src="i/header/logo.png", alt="")
			.header_right
				.header_top
					.header_topleft
						.header_topleft_image
							img(src="i/icons/icon_pos.svg", alt="")
						.header_topleft_text Ярославское шоссе, владение 2&nbsp;В, строение&nbsp;3 (МКАД, 95&nbsp;км)
					.header_topright
						ul.header_actions__list 
							li.header_actions__item
								.header_actions__item_image 
									img(src="i/icons/icon_settings.svg", alt="")
								.header_actions__item_text Записаться на&nbsp;сервис
							li.header_actions__item
								.header_actions__item_image 
									img(src="i/icons/icon_testdrive.svg", alt="")
								.header_actions__item_text Тест-драйв
				.header_bottom
					.header_bottomleft
						.header_bottomleft_textbig 
							h2 АВТОРУСЬ TANK
						.header_bottomleft_textsmall
							p Официальный дилер
					.header_bottomright_adapt
						.header_call
							img(src="i/icons/header_call.svg", alt="")
						.header_burger
							img(src="i/icons/burger.svg", alt="")
					.header_bottomright
						.header_bottomright_connect 
							.header_bottomright_connect_number
								p +7 (999) 999-99-99
									.header_bottomright_connect_online
										.header_bottomright_connect_online_image
											img(src="i/icons/online.svg", alt="")
										.header_bottomright_connect_online_text
											p Мы на связи
						.header_bottomright_call__button.trigger-call
							.header_bottomright_call_image
								img(src="i/icons/phonecall.svg", alt="")
							.header_bottomright_call_text
								p Заказать звонок