.popup.popup_sale 
    .popup_bg.remove
    .popup_main 
        .popup_close.remove 
            img(src="i/icons/x-close.svg")
        .popup_top 
            h3 Получить предложение
            p Пожалуйста, укажите свои данные. <br/>Наш менеджер свяжется с вами в течение 15 минут.
        .popup_form 
            .popup_select
                .popup_select__label Модель
                select(name="")
                    option(value="TANK 300") TANK 300
                    option(value="TANK 500") TANK 500
            .popup_input 
                .popup_input__label Телефон
                input(type="tel" placeholder="+7 (___) ___-__-__")
            +button({name:"Получить предложение", theme: "primary"})
            .popup_agreement 
                input(type="checkbox" id="agreements" value="Согласен на обработку персональных данных.")
                label(for="agreements") Согласен на обработку персональных данных.

.popup.popup_call
    .popup_bg.remove
    .popup_main 
        .popup_close.remove 
            img(src="i/icons/x-close.svg")
        .popup_top 
            h3 Заказать звонок
            p Пожалуйста, укажите свои данные. <br/>Наш менеджер свяжется с вами в течение 15 минут.
        .popup_form 
            .popup_select
                .popup_select__label Модель
                select(name="")
                    option(value="TANK 300") TANK 300
                    option(value="TANK 500") TANK 500
            .popup_input 
                .popup_input__label Телефон
                input(type="tel" placeholder="+7 (___) ___-__-__")
            +button({name:"Получить предложение", theme: "primary"})
            .popup_agreement 
                input(type="checkbox" id="agreementc" value="Согласен на обработку персональных данных.")
                label(for="agreementc") Согласен на обработку персональных данных.

.popup.popup_price
    .popup_bg.remove
    .popup_main 
        .popup_close.remove 
            img(src="i/icons/x-close.svg")
        .popup_top 
            h3 Узнать цену с выгодами
            p Пожалуйста, укажите свои данные. <br/>Наш менеджер свяжется с вами в течение 15 минут.
        .popup_form 
            .popup_select
                .popup_select__label Модель
                select(name="")
                    option(value="TANK 300") TANK 300
                    option(value="TANK 500") TANK 500
            .popup_input 
                .popup_input__label Телефон
                input(type="tel" placeholder="+7 (___) ___-__-__")
            +button({name:"Получить предложение", theme: "primary"})
            .popup_agreement 
                input(type="checkbox" id="agreementp" value="Согласен на обработку персональных данных.")
                label(for="agreementp") Согласен на обработку персональных данных.

.popup.popup_burger
    .popup_bg
    .popup_main
        .burger_head 
            h3 АВТОРУСЬ TANK Лосиный Остров
            p Официальный дилер
        .burger__content 
            .burger_phone 
                a(href="#") +7 (999) 999-99-99 
                span Мы на связи