.popup.popup_sale 
    .popup_bg.remove
    .popup_main 
        .popup_close.remove 
            img(src="i/icons/x-close.svg")
        .popup_top 
            h3 Получить предложение
            p Пожалуйста, укажите свои данные. <br/>Наш менеджер свяжется с вами в течение 15 минут.
        .popup_form 
            .popup_select
                .popup_select__label Модель
                select(name="")
                    option(value="TANK 300") TANK 300
                    option(value="TANK 500") TANK 500
            .popup_input 
                .popup_input__label Телефон
                input(type="tel" placeholder="+7 (___) ___-__-__")
            +button({name:"Получить предложение", theme: "primary"})
            .popup_agreement 
                input(type="checkbox" id="agreements" value="Согласен на обработку персональных данных.")
                label(for="agreements") Согласен на обработку персональных данных.

.popup.popup_call
    .popup_bg.remove
    .popup_main 
        .popup_close.remove 
            img(src="i/icons/x-close.svg")
        .popup_top 
            h3 Заказать звонок
            p Пожалуйста, укажите свои данные. <br/>Наш менеджер свяжется с вами в течение 15 минут.
        .popup_form 
            .popup_select
                .popup_select__label Модель
                select(name="")
                    option(value="TANK 300") TANK 300
                    option(value="TANK 500") TANK 500
            .popup_input 
                .popup_input__label Телефон
                input(type="tel" placeholder="+7 (___) ___-__-__")
            +button({name:"Получить предложение", theme: "primary"})
            .popup_agreement 
                input(type="checkbox" id="agreementc" value="Согласен на обработку персональных данных.")
                label(for="agreementc") Согласен на обработку персональных данных.

.popup.popup_price
    .popup_bg.remove
    .popup_main 
        .popup_close.remove 
            img(src="i/icons/x-close.svg")
        .popup_top 
            h3 Узнать цену с выгодами
            p Пожалуйста, укажите свои данные. <br/>Наш менеджер свяжется с вами в течение 15 минут.
        .popup_form 
            .popup_select
                .popup_select__label Модель
                select(name="")
                    option(value="TANK 300") TANK 300
                    option(value="TANK 500") TANK 500
            .popup_input 
                .popup_input__label Телефон
                input(type="tel" placeholder="+7 (___) ___-__-__")
            +button({name:"Получить предложение", theme: "primary"})
            .popup_agreement 
                input(type="checkbox" id="agreementp" value="Согласен на обработку персональных данных.")
                label(for="agreementp") Согласен на обработку персональных данных.

.popup.popup_burger
    .popup_bg_burger
    .popup_burger
        .burger_head 
            h3 АВТОРУСЬ TANK Лосиный Остров
            p Официальный дилер
        .burger__content
            .burger_online
                .burger_online_number
                    h4 +7 (999) 999-99-99
                    .burger_online_online
                        .burger_online_image
                            img(src="i/icons/online.svg", alt="")
                        .burger_online_text
                            p Мы на связи
            .burger_address
                .burger_address_address
                    .burger_address_address_image
                        img(src="i/icons/icon_pos.svg", alt="")
                    .burger_address_address_text
                        p Ярославское шоссе, владение 2&nbsp;В, строение&nbsp;3 (МКАД, 95&nbsp;км)
                .burger_address_worktime 
                    .burger_address_worktime_image 
                        img(src="i/icons/worktime.svg", alt="")
                    .burger_address_worktime_text
                        p Ежедневно с&nbsp;09:00 до&nbsp;21:00
        .burger_bottom
            .header_bottomright_call__button.trigger-call(data-popup="Заказать звонок")
                .header_bottomright_call_image
                    img(src="i/icons/phonecall.svg", alt="")
                .header_bottomright_call_text
                    p Заказать звонок
            .burger_active
                ul.burger_active__list
                    li.burger_active__item 
                        .burger_active__item_image
                            img(src="i/icons/icon_settings.svg", alt="")
                        .burger_active__item_text 
                            p Записаться на сервис
                    li.burger_active__item 
                        .burger_active__item_image
                            img(src="i/icons/icon_testdrive.svg", alt="")
                        .burger_active__item_text 
                            p Тест-драйв
