section.address
    .section_in
        .address_main 
            .address_map 
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A82acca4bbb2a4907499f0ff72df3351535bb4960c8b91589890150dc3d71fa09&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
                .address_info
                    .address_address
                        .address_address_title
                            p Адрес
                        .address_address_subtitle
                            h4 Ярославское шоссе, владение 2&nbsp;В, строение&nbsp;3 (МКАД, 95&nbsp;км)
                    .address_phone
                        .address_phone_title
                            p Телефон
                        .address_phone_number 
                            h4 +7 (999) 999-99-99
                        .address_phone_online
                            .address_phone_image
                                img(src="i/icons/online.svg", alt="")
                            .address_phone_text
                                p Мы на связи
                    .address_worktime 
                        .address_worktime_title 
                            p Режим работы
                        .address_worktime_subtitle 
                            h4 Ежедневно с&nbsp;09:00 до&nbsp;21:00
                    .address_button
                        +button({name:"Заказать звонок", theme: "primary"})