section.credit
    .section_in
        .credit_main
            .credit_top
                .credit_title
                    h5 Оставьте заявку на&nbsp;кредит
                .credit_subtitle
                    p и&nbsp;получите одобрение за&nbsp;1&nbsp;день!
            .credit_bottom
                .credit_bottom_subtitle 
                    p Телефон
                .credit_bottom_phone
                    .credit_bottom_form
                        form
                            input(type="text" placeholder="+7 (___) ___-__-__")
                    .credin_bottom_phone__button 
                        +button({name:"Отправить заявку", theme: "primary"})
                .popup_agreement 
                    input(type="checkbox" id="agreement" value="Согласен на обработку персональных данных.")
                    label(for="agreement") Согласен на обработку персональных данных.