section.disclaimer 
    .section_in
        .disclaimer_main
            details
                summary Дисклеймер
                .disclaimer_content
                    .disclaimer_text3
                        p TANK 300 за&nbsp;3&nbsp;799 000руб с&nbsp;учетом поддержек. Цена на&nbsp;модель TANK (ТЭНК) 300&nbsp;в комплектации Adventure (Эдвенчер) с&nbsp;двигателем 2,0T 4WD, 2023 года производства, цвет автомобиля: белый, с&nbsp;учетом выгоды по&nbsp;трейд-ин 300&nbsp;000&nbsp;рублей. В&nbsp;трейд-ин принимаются автомобили с&nbsp;пробегом со&nbsp;сроком владения и&nbsp;регистрации (постановки на&nbsp;учет) в&nbsp;органах ГИБДД не&nbsp;менее 6&nbsp;месяцев (в&nbsp;отношении автомобилей бренда TANK, Haval, Great Wall&nbsp;&mdash; 3&nbsp;месяца) до&nbsp;сдачи автомобиля в&nbsp;трейд-ин. В&nbsp;качестве документов, подтверждающих срок владения сдаваемого в&nbsp;трейд-ин автомобиля, собственнику необходимо предоставить копию ПТС или СТС или карточку учета&nbsp;ТС из&nbsp;ГИБДД с&nbsp;печатью и&nbsp;подписью. Подробности уточняйте у&nbsp;менеджеров отдела продаж TANK АВТОРУСЬ. Предложение ограничено, не&nbsp;является офертой и&nbsp;действует с&nbsp;01.04.2024г.
                    .disclaimer_text5
                        p TANK 500 за&nbsp;5&nbsp;349&nbsp;000 руб с&nbsp;учетом поддержек. Цена на&nbsp;модель TANK (ТЭНК) 500&nbsp;в комплектации Adventure (Эдвенчер) с&nbsp;двигателем 3,0T 4WD, 2023 года производства, цвет автомобиля: белый, с&nbsp;учетом прямой выгоды в&nbsp;950&nbsp;000&nbsp;рублей. Подробности уточняйте у&nbsp;менеджеров отдела продаж TANK АВТОРУСЬ. Предложение ограничено, не&nbsp;является офертой и&nbsp;действует с&nbsp;01.04.2024г.