section.hero
    .section_in
        .hero_main
            .hero__content 
                .hero_subtitle Улучшим любые условия
                .hero_title TANK 500
                .hero_subtitle Осталось всего 5 автомобилей!
            .hero__button
                +button({name:"Получить предложение", theme: "primary trigger-sale", popup:"Получить предложение"})