section.offer
    .section_in
        .offer_main 
            .offer_left
                .offer_left_title 
                    h5 Индивидуальное предложение для корпоративных клиентов
                .offer_left__button
                    +button({name:"Отправить заявку", theme: "primary"})
            .offer_right
                .offer_right_image 
                    img(src="i/offer/avatar.png", alt="")
                .offer_right_employee
                    .offer_right_title 
                        h5 Татьяна Санникова
                    .offer_right_subtitle 
                        p Отдел корпоративных продаж АВТОРУСЬ