section.timer 
    .section_in 
        .timer_main 
            .timer_srok Срок действия спецпредложения:
            ul.timer_time__list
                li.timer_time__item
                    h3 3
                    p дня
                li.timer_time__item 
                    h3 06
                    p часов
                li.timer_time__item
                    h3 14
                    p минут
                li.timer_time__item
                    h3 55
                    p секунд
            .timer__button 
                +button({name:"Узнать цену с выгодами", theme: "primary"})