section.tradein
    .section_in 
        .tradein_main
            .tradein_image
                img(src="i/tradein/tradein.png", alt="")
            .tradein_info 
                .tradein_info_text
                    h4 ОБМЕН ПО&nbsp;TRADE-IN НА&nbsp;ВЫГОДНЫХ УСЛОВИЯХ
                .tradein_info__button
                    +button({name:"Отправить заявку", theme: "primary"})