.footer {
	width: 100%;
	min-height: $footer;
	flex: 0 0 auto;
	will-change: transform;
	position: relative;
	@include bp($point_2) {
		min-height: 100%;
	}
}

.footer_main {
	display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer_top {
	display: flex;
	justify-content: space-between;
	border-bottom: .1rem solid $grey;
	padding-bottom: 6rem;
	
	@include bp($point_2) {
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}
}

.footer_topleft {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.footer_topleft_dealer {
	display: flex;
	flex-direction: column;
	gap: .4rem;
}

.footer_topleft_dealer_title {
	font-weight: 500;
	font-size: 16px;
	line-height: 110%;
}

.footer_topleft_dealer_subtitle {
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	color: $grey;
}

.footer_topleft_address {
	display: flex;
	gap: .9rem;
}

.footer_topleft_address_image {
	width: 2rem;
	height: 2rem;
}

.footer_topleft_org_subtitle {
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	color: $grey;
}

.footer_topleft_org {
	display: flex;
	flex-direction: column;
	gap: .4rem;
}

.footer_topleft_org_title {
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
}

.footer_topleft_address_text {
	@include bp($point_2) {
		color: $grey;
	}
}

.footer_topright {
	display: flex;
	flex-direction: column;
	gap: 3.7rem;

	@include bp($point_2) {
		display: flex;
		flex-direction: column;
	}
}

.footer_topright_phone {
	display: flex;
	gap: 4rem;
	
	@include bp($point_2) {
		display: flex;
		flex-direction: column;
	}
}

.footer_topright_number {
	display: flex;
	flex-direction: column;
	gap: .4rem;
	align-items: end;

	@include bp($point_2) {
		order: 1;
		align-items: start;
	}
}

.footer_toprigt_number_number {
	font-weight: 500;
	font-size: 20px;
	line-height: 110%;

	@include bp($point_2) {
		font-size: 30px;
	}
}

.footer_topright_online {
	display: flex;
	align-items: center;
	gap: .4rem;
}

.footer_topright_online_image {
	width: 1.1rem;
	height: 1.1rem;
}

.footer_topright_online_text {
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	color: $grey;
}

.footer_topright__button {
	display: flex;
	background-color: #FF9549;
	background-size: contain;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	gap: 1.2rem;
	padding: 1.3rem 3rem;
	cursor: pointer;
}

.footer_topright__button_image {
	width: 2.2rem;
	height: 2.2rem;
}

.footer_topright__button_text p {
	color: $black;
	user-select: none;
}

.footer_topright_actions {
	display: flex;
	justify-content: end;

	@include bp($point_2) {
		justify-content: center;
	}
}

.footer_topright_actions__list {
	display: flex;
	gap: 4rem;
	
	@include bp($point_2) {
		flex-direction: column;
		align-items: center;
	}
}

.footer_topright_actions__item {
	display: flex;
	align-items: center;
	gap: .7rem;
}

.footer_topright_actions__item_image {
	width: 1.7rem;
	height: 1.7rem;
}

.footer_topright_actions__item_txt {
	font-weight: 500;
	font-size: 14px;
	line-height: 110%;
}

.footer_bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;

	@include bp($point_2) {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
}	

.footer_bottomleft {
	color: $grey;

	@include bp($point_2) {
		order: 2;
		justify-content: flex-start;
	}
}

.footer_bottomright {
	display: flex;
	gap: 6rem;
	color: $grey;

	@include bp($point_2) {
		order: 1;
	}
}

.footer_bottomright a {
	color: $grey;
}
