.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include flex-center;
	transition: all 0.3s ease;
	opacity: 0;
	visibility: hidden;
	@include z-index(popup);
	@include bp($point_2) {
		padding: 0 2rem;
	}
	&.active {
		opacity: 1;
		visibility: visible;
		.popup_main {
			transform: translateY(0);
		}
	}
}
.popup_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $dark;
	opacity: 0.7;
}

.popup_main {
	background-color: $t500bcg;
	position: relative;
	padding: 4rem 8rem;
	border-radius: 1rem;

	@include bp($point_2) {
		padding: 4rem 1.5rem;
	}
}

.popup_close {
	position: absolute;
	top: 2rem;
	right: 2rem;
	@include flex-center;
	width: 2.4rem;
	cursor: pointer;
}

.popup_top {
	@include flex-center;
	flex-direction: column;
	gap: 1.6rem;
	margin-bottom: 3.9rem;
	h3 {
		font-size: 3rem;
		text-transform: uppercase;

		@include bp($point_2) {
			text-align: center;
		}
	}

	p {
		text-align: center;
	}
}

.popup_select {
	select {
		@include app;
		width: 100%;
		background-color: #252c2c;
		padding: 1.6rem 2rem;
		border-radius: 1rem;
		color: $grey;
		border: 0.1rem solid $grey;
		cursor: pointer;
	}
}

.popup_input__label {
	margin-bottom: 0.8rem;
	color: $grey;
	font-size: 1.4rem;
}
.popup_input {
	input {
		max-height: 5.1rem;
		@include app;
		width: 100%;
		background-color: #252c2c;
		padding: 1.6rem 2rem;
		border-radius: 1rem;
		color: #fff;
		border: 0.1rem solid $grey;
		&::placeholder {
			color: $grey;
		}
	}
}

.popup_form {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

.popup_select__label {
	font-size: 1.4rem;
	margin-bottom: 0.8rem;
	color: $grey;
}

.popup_agreement {
	input {
		display: none;

		&:checked + label {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	label {
		position: relative;
		padding-left: 3rem;
		user-select: none;
		cursor: pointer;
		@include bp($point_2) {
			font-size: 1.2rem;
			padding-left: 2rem;
		}
		&:before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 2rem;
			height: 2rem;
			border: 0.1rem solid $grey;
			border-radius: 0.5rem;
			content: "";

			@include bp($point_2) {
				width: 1.4rem;
				height: 1.4rem;
			}
		}

		&:after {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0.4rem;
			width: 1.2rem;
			height: 1.2rem;
			background-color: $grey;
			border-radius: 0.3rem;
			content: "";
			opacity: 0;
			visibility: hidden;
			transition: all 0.2s ease-in-out;

			@include bp($point_2) {
				width: 0.8rem;
				height: 0.8rem;
				left: 0.3rem;
			}
		}
	}
}

.header {
	&.active {
		position: fixed;
		z-index: 111;
	}
}

.header_burger {
	position: relative;
	width: 2rem;
	height: 1.8rem;
	@include flex-center;
	span {
		position: absolute;
		width: 100%;
		display: block;
		border-bottom: 0.2rem solid $white;
		border-radius: 2rem;
		transition: all 0.3s ease-in-out;

		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 50%;
			transform: translateY(-50%);
			width: 80%;
			left: 0;
		}
		&:nth-child(3) {
			bottom: 0;
		}
	}

	&.active {
		span {
			&:nth-child(1) {
				transform: rotate(45deg);
				top: 51%;
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
				bottom: 42%;
			}
		}
	}
}