.timer_main {
    margin: 23px 0px 60px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252c2c;
    padding: 4rem 3.2rem;
    border-radius: 10px;

    @include bp($point_2) {
        flex-direction: column;
        gap: 3.4rem;
    }
}

.timer_srok {
    font-weight: 700;
    font-size: 3rem;
    line-height: 110%;
    text-transform: uppercase;
    max-width: 34rem;

    @include bp($point_2) {
        font-weight: 700;
        font-size: 28px;
        line-height: 110%;
        text-transform: uppercase;
    }
}

// .timer_time__list {
//     list-style: none;
//     display: flex;
//     gap: 9rem;

//     @include bp($point_2) {
//         gap: 6rem;
//     }
// }

// .timer_time__item {
//     align-items: center;
//     display: flex;
//     flex-direction: column;
// }

// .timer_time__item h3 {
//     font-weight: 700;
//     font-size: 3.4rem;
// }

// .timer_time__item p {
//     font-weight: 300;
//     font-size: 1.2rem;
//     line-height: 110%;
// }

.timer {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    
    @include bp($point_2) {
        gap: .1rem;
    }
}

.separator {
    font-size: 39px;
}

.timer__item {
    position: relative;
    font-size: 2.4rem;

    @include bp($point_2) {
        
    }
}

.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: $white;
}

    .timer__circle {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;

        svg {
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(-90deg);
        }

        circle {
            fill: none;
            stroke: #ccc;
            stroke-width: 6;
            stroke-dasharray: 283; // 2 * π * 45 (длина окружности)
            stroke-dashoffset: 283;
            transition: stroke-dashoffset 1s linear;
        }
    }

.timer__label-minutes, .timer__label-days, .timer__label-hours, .timer__label-seconds {
    font-size: 1.2rem;
}