extends _layout

block vars
    - array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'TANK 300'}
block content_block
    include blocks/hero
    include blocks/timer
    include blocks/tank300
    include blocks/equip
    include blocks/tradein
    include blocks/credit
    include blocks/offer
    include blocks/address
    include blocks/disclaimer