.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: contain;
	border-radius: 1rem;
	width: 100%;
	border: .1rem solid $orange;
	button  {
		padding: 1.8rem 3rem;
		@include app;
		width: 100%;
		@include flex-center;
		gap: 1rem;
		height: 100%;
		@include bp($point_2) {
			font-size: 1.4rem;
		}
	}

	.btn_icon {
		width: 1.5rem;
        height: 1.5rem;
		filter: invert(1);
	}
    &.primary{
        background-color: $orange;
    }

	&.secondary button{
        background-color: transparent;
		color: $white;

		.btn_icon {
			filter: none;
		}
	}
}

.btn:hover {
	opacity: 3;
}